<div class="footer-bg">
    <div class="container footer-links">
        <div class="row">
            <div class="col-sm-2">
                <h6>Home</h6>
            </div>

            <div class="col-sm-2">
                <h6>Schedule</h6>
            </div>
            
            <div class="col-sm-2">
                <h6>Tournaments</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <h6>Contact Us</h6>
            </div>
            <div class="col-sm-2">
                <h6>Standings</h6>
            </div>
            <div class="col-sm-2">
                <h6>Photos</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <h6>Meet The Team</h6>
            </div>
            <div class="col-sm-2">
                <h6>Teams</h6>
            </div>
            <div class="col-sm-2">
                <h6>Shop</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <h6>Info</h6>
        </div>

        
       
            
        
    </div>
    <div class="icons">
        <i class="fa fa-facebook" style="font-size: 24px;"></i>
        <i class="fa fa-instagram icon-ig" style="font-size: 24px;"></i>
        <p class="copyright">© 2022 Lister Dodgeball League</p>
    </div>
</div>