.footer-bg {
    background: #fefbe9;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
}

.footer-links {
    padding-top: 38px;
}

.row {
    padding-top: 12px;
}

.icon-ig {
    padding-left: 15px;
}

.icons {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
}

.copyright {
    padding-top: 10px;
}