<nav class="row navbar navbar-expand-lg navbar-color navbar-dark navbar-border">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <div class="navbar-nav mx-auto">
        <a class="nav-item nav-link active" href="#" style="padding-left: 30px;">Home</a>
        <a class="nav-item nav-link active" routerLink="/info" routerLinkActive="active" style="padding-left: 30px;">Info</a>

        <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false" style="padding-left: 30px;">
              Current Year
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Teams</a>
              <a class="dropdown-item" href="#">Schedule</a>
              <a class="dropdown-item" href="#">Standings</a>
            </div>
        </li>

        <a class="nav-item nav-link active" href="#" style="padding-left: 30px;">Photos</a>
        <a class="nav-item nav-link active" href="#" style="padding-left: 30px;">Tournaments</a>
        <a class="nav-item nav-link active" href="#" style="padding-left: 30px;">Store</a>
      </div>
    </div>
</nav>

