<div class="pillars-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="pillar-title">
                    <strong>The 4 Pillars</strong>
                </h1>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2 pillar-title">
                <h2>
                    <strong>Sportsmanship</strong>
                </h2>
            </div>
            <div class="col-sm-5"></div>
            <div class="col-sm-2 pillar-img">
                <img src="../../../assets/Throwing-logo.jpeg" alt="Temp Pic">
            </div>
        </div>

        <div class="row-seperator"></div>

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2 pillar-img">
                <img src="../../../assets/Throwing-logo.jpeg" alt="Temp Pic">
            </div>
            <div class="col-sm-5"></div>
            <div class="col-sm-2 pillar-title">
                <h2>
                    <strong>Teamwork</strong>
                </h2>
            </div>
        </div>

        <div class="row-seperator"></div>

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2 pillar-title">
                <h2>
                    <strong>Skill</strong>
                </h2>
            </div>
            <div class="col-sm-5"></div>
            <div class="col-sm-2 pillar-img">
                <img src="../../../assets/Throwing-logo.jpeg" alt="Temp Pic">
            </div>
        </div>

        <div class="row-seperator"></div>

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2 pillar-img">
                <img src="../../../assets/Throwing-logo.jpeg" alt="Temp Pic">
            </div>
            <div class="col-sm-5"></div>
            <div class="col-sm-2 pillar-title">
                <h2>
                    <strong>Love of the game</strong>
                </h2>
            </div>
        </div>

        <div class="row-seperator"></div>
        
        <hr>

        <div class="row">
            <div class="col-sm-12 pillar-btn">
                <button type="button" class="btn btn-primary btn-lg">Learn More</button>
            </div>
        </div>
    </div>
</div>
