<div class="ldl-title-bg">
    <div class="container">
        <app-navbar></app-navbar>
        <div class="row title-text">
            <div class="col">
                <h1 class="text"><strong>Lister Dodgeball League</strong></h1>
            </div>
        </div>
        <div class="row ldl-slogan">
            <div class="col">
                <blockquote><em>Dodgeball is everything to everyone</em></blockquote>
            </div>
        </div>

        <div class="row ldl-logo">
            <div class="col">
                <img class="photo" src="/assets/Target-logo.png" alt="LDL Logo">
            </div>
        </div>
    </div>
    
</div>


