.text {
    font-family: Arial, Helvetica, sans-serif;
}

.ldl-title-bg {
    background: #fefbe9;
    height: 550px;
}
.ldl-title-text {
    display: inline;
    vertical-align: middle;
}
.title-text {
    text-align: center;
    height: 55px;
    padding-top: 15px;
}

.ldl-slogan {
    text-align: center;
    height: 100px;
    padding-top: 20px;
    color: #183a1d;
}

.ldl-logo {
    height: 100px;
}

.photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}